<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Not Tripadvisor{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <header>
        {% block header %}
            <h1 class="display-1 py-5 text-center bg-light">Home Page</h1>
        {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
