{% extends "base.html" %}

{% block sub_header_title %}What do you want to try ?{% endblock %}

{% block sub_header_subtitle %}
<div class="row d-flex justify-content-center align-items-center  py-3">
    <a href="{{ url_for('search') }}"><button type="button" class="btn bg-clear-blue text-dark mx-3 mb-3">Search through the data !</button></a>
    <a href="{{ url_for('graph') }}"><button type="button" class="btn bg-clear-green text-dark mx-3 mb-3">Generate Graphs</button></a>
</div>
{% endblock %}

{% block content %}
    <div class="py-5">
        <div class="container">
            <h2 class="font-weight-light text-center py-3">There is just some raw data here, but scroll down to enjoy the lazy loading 😉</h2>
        </div>
    </div>
    <div class="container" id="review-cards-container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% for review in col_1 %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Attraction : </b>{{ review.attraction_review_name }}</li>
                            <li class="list-group-item"><b>Username : </b>{{ review.username }}</li>
                            <li class="list-group-item"><b>Grade : </b>{{ review.grade }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% for review in col_2 %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title" style="color:var(--bg-clear-blue)">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Attraction : </b>{{ review.attraction_review_name }}</li>
                            <li class="list-group-item"><b>Username : </b>{{ review.username }}</li>
                            <li class="list-group-item"><b>Grade : </b>{{ review.grade }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% for review in col_3 %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title" style="color:var(--bg-clear-blue)">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Attraction : </b>{{ review.attraction_review_name }}</li>
                            <li class="list-group-item"><b>Username : </b>{{ review.username }}</li>
                            <li class="list-group-item"><b>Grade : </b>{{ review.grade }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group d-flex justify-content-center py-5" role="group" aria-label="Basic example">
            <button id="load-more" type="button" class="btn btn-dark" nbClick="0">Load More</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/card-columns.js') }}"></script>
{% endblock %}
