{% extends "base.html" %}
{% block content %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="container-fluid">
                    <h2 class="font-weight-light text-center py-3">What do you want to try ?</h2>
                    <div class="row d-flex justify-content-center align-items-center  py-3">
                      <button type="button" class="btn bg-clear-blue mx-3 mb-3">Search Through Reviews</button>
                      <button type="button" class="btn bg-clear-green mx-3 mb-3">Search Through Users</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <h2 class="font-weight-light text-center py-3">There is just some raw data here, but scroll down to enjoy the lazy loading 😉</h2>
        </div>
    </div>
    <div class="container" id="review-cards-container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% for review in col_1 %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Attraction : </b>{{ review.attraction_review_name }}</li>
                            <li class="list-group-item"><b>Username : </b>{{ review.username }}</li>
                            <li class="list-group-item"><b>Grade : </b>{{ review.grade }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% for review in col_2 %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Attraction : </b>{{ review.attraction_review_name }}</li>
                            <li class="list-group-item"><b>Username : </b>{{ review.username }}</li>
                            <li class="list-group-item"><b>Grade : </b>{{ review.grade }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                {% for review in col_3 %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.title }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Attraction : </b>{{ review.attraction_review_name }}</li>
                            <li class="list-group-item"><b>Username : </b>{{ review.username }}</li>
                            <li class="list-group-item"><b>Grade : </b>{{ review.grade }}</li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="btn-group d-flex justify-content-center py-5" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark" onclick="fetchReviews();" nbClick="0">Load More</button>
        </div>
    </div>

{% endblock %}
