{% extends "base.html" %}
{% block sub_header_title %}Welcome on this Elasticsearch powered page ! 🚀{% endblock %}
{% block content %}
<div class="container">
    <form class="py-5">
        <div class="form-row">
            <div class="col-md-5">
                <label class="h5 mb-3">What are you looking for ?</label>
                <input id="search-input" type="text" class="form-control" placeholder="Super visite !">
            </div>
        </div>
    </form>
    <div class="">
        {% for elt in data.hits.hits %}
            <p>{{elt}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
